.header {
  padding-top: 32px;
}
.start-course {
    display: inline-block;
    padding: 0 31px;
    color: #76c4ef;
    height: 50px;
    line-height: 50px;
    border-radius: 90px;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0px 0px 10px 0px #0000001A;
    letter-spacing: 1.5px;
    background-color: $background-color;
}

@media (max-width: 580px) {
  .header {
    display: flex;
    padding-top: 29px;
    justify-content: flex-end;
  }
  .start-course {
    font-size: 14px;
    padding: 0px 13px;
    height: 40px;
    line-height: 40px;
  }
}