$primary-color: #083155;
$secondary-color: #C858BC;
$background-color: #FFF;
$black: #1F1F1F;
$text-color: #76C4EF;
$span-color: #B8B8B8;
$hover-color: #9b328f;
$dark-color: #05223D;
$text-secondary: #49484C;
$text-title: #022147;
$white-color: #FFFFFF;
$button-secondary-hover: darken($text-color, 15%);
$light-gray-bg: #F4F5F8;

@mixin default-label-text {
    font-weight: 300;
    font-size: 17px;
    color: $text-secondary;
}

@mixin section-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 68.94px;
    text-align: center;
    color: $white-color;
}