:root {
  --black: #333;
  --rz: rgba(217, 90, 178, .8);
  --white: white;
  --sn: rgba(119, 196, 240, .8);
  --bgr: #efefef;
  --180height: 180px;
}

body {
  color: #333;
  background-color: #fff;
  height: 100%;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

h1 {
  color: var(--black);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

p {
  color: #000;
  margin-bottom: 5px;
}

a {
  display: block;
}

img {
  max-width: 100%;
  display: inline-block;
}

.body {
  background-color: #fff;
  height: auto;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.lb {
  z-index: 99;
  cursor: pointer;
  background-color: rgba(255, 255, 255, .5);
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.box {
  z-index: 100;
  background-color: #fff;
  border-radius: 5px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: none;
  position: fixed;
  top: 15%;
  left: 0%;
  right: 0%;
  overflow: visible;
}

.p {
  color: #000;
  font-size: 14px;
}

.p.otst-niz {
  margin-bottom: 25px;
}

.privacy-section-yes {
  background-color: #f5f5f4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}

.z-of-privacy {
  background-color: #fff;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 50px;
  display: block;
}

.h2-privacy {
  color: var(--black);
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.center {
  text-align: center;
  align-items: center;
}

.l {
  color: #1b96c9;
  text-decoration: none;
  transition: all .555s;
  display: inline;
  box-shadow: 0 1px rgba(44, 168, 219, .5);
}

.l:hover {
  color: #333;
  box-shadow: 6px 9px 0 -9px rgba(44, 168, 219, .5);
}

.l.pri {
  font-size: 14px;
}

.hero-section {
  overflow: hidden;
}

.container {
  background-color: #efefef;
  flex-flow: column;
  max-width: 450px;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  position: static;
  overflow: hidden;
}

.container.cn_slider {
  background-color: rgba(200, 88, 188, .8);
  min-height: 0;
  margin-top: 0;
  padding-bottom: 55px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  overflow: hidden;
}

.container.cn_slider.busines {
  min-height: auto;
  padding-bottom: 0;
}

.container.forwhom {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 0;
  padding-top: 49px;
  padding-bottom: 0;
  display: flex;
  position: relative;
}

.container.autor {
  margin-top: 0;
  padding-top: 36px;
  position: relative;
}

.container.superuroc_cont {
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 11px;
}

.container.cnt_program {
  margin-top: 0;
  padding: 10px 0 7px;
  position: relative;
}

.container.cn_qa {
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 37px;
}

.container.time {
  margin-top: 0;
  padding-top: 12px;
  padding-bottom: 68px;
}

.container.jobs-client {
  background-color: var(--rz);
  margin-top: 0;
  padding: 61px 25px 65px;
}

.container.cn_emotion {
  margin-top: 0;
  padding-top: 65px;
  padding-bottom: 42px;
}

.container.cn_futer {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  background-color: var(--rz);
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  padding-top: 65px;
  padding-bottom: 62px;
}

.container.cn_thanks {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin-top: 0;
  padding-top: 65px;
  padding-bottom: 65px;
  display: flex;
}

.container.cn_for_you {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 0;
  padding-top: 49px;
  padding-bottom: 30px;
  display: flex;
  position: relative;
}

.headerhero {
  background-color: rgba(255, 255, 255, 0);
  justify-content: space-between;
  align-items: flex-end;
  max-width: 100%;
  height: 38px;
  max-height: 62px;
  margin-top: 40px;
  display: flex;
  position: relative;
}

.startdatedv {
  z-index: 3;
  background-image: url('../images/Rectangle-9.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 234px 27px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 142px;
  max-width: 235px;
  min-height: 31px;
  max-height: 40px;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 5%;
}

.startdatedv.timerday {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.startdatep {
  aspect-ratio: auto;
  color: #fff;
  object-fit: fill;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 700;
  display: none;
}

.herocontent {
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  min-height: 500px;
  display: flex;
  position: relative;
}

.herocontent_heading {
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 100%;
  display: flex;
  position: relative;
}

.basicp.bp_md {
  max-width: 240px;
  margin-top: 29px;
  font-weight: 500;
}

.basicp.bonus_p {
  margin-bottom: 21px;
  line-height: 179%;
}

.heading {
  color: var(--rz);
  margin-top: 24px;
  margin-bottom: 0;
  font-family: Orchidea Pro, sans-serif;
  font-size: 45px;
  font-weight: 900;
  line-height: 135%;
}

.bp_md_span {
  color: rgba(200, 88, 188, .8);
  font-weight: 700;
  position: relative;
}

.image {
  z-index: 4;
  width: 317px;
  max-width: none;
  height: 433px;
  display: none;
  position: absolute;
  top: auto;
  bottom: -11%;
  left: auto;
  right: -3%;
}

.image.too {
  width: auto;
  height: 492px;
  display: block;
  right: -114px;
}

.cyrcle {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0);
  width: 244px;
  height: 22px;
  max-height: none;
  position: absolute;
  top: auto;
  bottom: 6%;
  left: 0%;
  right: auto;
  transform: translate(0, -151px)translate(-97px)rotate(120deg);
}

.elipse {
  z-index: 3;
  background-color: rgba(119, 196, 240, .8);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  position: absolute;
  bottom: 0%;
  left: auto;
  right: 0%;
  transform: translate(-70px);
}

.elipse.elipsnext {
  width: 22px;
  height: 22px;
  transform: translate(0, -41px)translate(-64px);
}

.cyrcle_child {
  z-index: 4;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, .5);
  border-radius: 11px;
  width: 100%;
  height: 22px;
  max-height: 66px;
  position: absolute;
}

.cyrcle_child.cyrcle_hero {
  z-index: 2;
  background-color: var(--white);
  border-radius: 11px;
  height: 22px;
}

.cyrcle_hero {
  border: 0 #000;
}

.hero3d {
  z-index: 3;
  background-color: #fff;
  width: 400px;
  height: 66px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
  transform: translate(178px)rotate(-72deg);
}

.hero3d.blur {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, .5);
}

.elipsehero {
  z-index: 3;
  background-color: rgba(200, 88, 188, .8);
  border: 0 solid #000;
  border-radius: 50%;
  width: 59px;
  height: 59px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
  transform: translate(0, 165px);
}

.mini3dhero {
  z-index: 0;
  background-color: #fff;
  border-radius: 11px;
  width: 244px;
  height: 22px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
  transform: translate(0, -106px)translate(47px)rotate(-66deg)translate(0, -169px);
}

.mini3dhero.blur {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, .5);
}

.mini3dhero.minieliipse {
  background-color: rgba(119, 196, 240, .8);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transform: translate(0, -135px);
}

.mini3dhero.minieliipse.me_mini {
  width: 22px;
  height: 22px;
  transform: translate(34px)translate(0, -121px);
}

.mini3dhero.minieliipse.forwhom_elipse {
  z-index: 2;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
  transform: translate(-20px)translate(0, 156px);
}

.mini3dhero.down {
  z-index: 1;
  transform: translate(0, 102px)translate(-111px)rotate(-64deg);
}

.mini3dhero.down.next {
  transform: translate(0, 102px)translate(129px)rotate(-64deg);
}

.mini3dhero.forwhom_blur {
  z-index: 3;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, .5);
  top: 27%;
  bottom: auto;
  left: 0%;
  right: auto;
  transform: translate(0, -138px)translate(-115px)rotate(-115deg);
}

.mini3dhero.forwhom_blur.bl {
  z-index: 1;
  background-color: #fff;
}

.divblurhero {
  background-color: #fff;
  width: 640px;
  height: 77px;
  position: absolute;
  top: auto;
  bottom: -90px;
  left: -44px;
  right: 0;
  transform: rotate(15deg);
}

.divblurhero.blur {
  z-index: 4;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, .5);
  bottom: -90px;
  transform: rotate(15deg);
}

.dvbutton {
  z-index: 4;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 45px auto 43px;
  padding-top: 0;
  display: flex;
  position: relative;
}

.dvbutton.bonus {
  margin-top: 43px;
}

.dvbutton.bonus.programbonus {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.dvbutton.btn_emotion {
  margin-bottom: 0;
}

.buttoncustom {
  z-index: 2;
  letter-spacing: 1px;
  background-color: rgba(56, 152, 236, 0);
  background-image: url('../images/Rectangle-7.svg');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: 100% 43px;
  justify-content: center;
  align-items: center;
  width: 242px;
  height: 45px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: Orchidea Pro, sans-serif;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  position: relative;
}

.buttoncustom.bonus {
  justify-content: center;
  align-items: center;
  margin-top: 27px;
}

.buttoncustom.thanks {
  margin-top: 30px;
}

.slider-section {
  overflow: hidden;
}

.slider_title {
  border: 0 #000;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  margin-top: 62px;
  margin-bottom: 40px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
}

.slider_title.forwhom {
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
}

.sl_tl_p {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 130%;
}

.heading-2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  align-self: auto;
  margin-top: 0;
  font-family: Orchidea Pro, sans-serif;
  font-size: 21px;
  font-weight: 600;
  line-height: 120%;
}

.heading-2.forwhom {
  color: #000;
  text-transform: uppercase;
}

.heading-2.author {
  color: #000;
  letter-spacing: 0;
  text-indent: 0;
  white-space: normal;
  word-break: normal;
  font-size: 34px;
  font-weight: 600;
  text-decoration: none;
}

.heading-2.super_urol_h2 {
  color: #000;
  margin-bottom: 0;
  font-size: 23px;
  font-weight: 500;
}

.heading-2.programkurs {
  color: #000;
}

.heading-2.job_h2 {
  color: #fff;
  margin-bottom: 50px;
}

.heading-2.h2_emotion {
  color: #000;
  margin-bottom: 33px;
}

.heading-2.h2_thanks {
  color: #000;
}

.drpdwn_content_instagram {
  clear: none;
  order: 0;
  align-self: auto;
  margin-top: 0;
  display: none;
}

.drpdwn_content_instagram.sliderup {
  justify-content: center;
  align-items: flex-start;
  width: auto;
  display: flex;
  position: relative;
}

.toggle-main {
  background-color: rgba(255, 255, 255, 0);
  background-image: url('../images/Rectangle-9.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto 49px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 91%;
  max-height: 49px;
  margin-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
}

.dropdown-toggle-2 {
  color: #fff;
  flex: 1;
  align-items: center;
  width: 100%;
  min-height: 49px;
  padding-left: 0;
  font-size: 17px;
  display: flex;
}

.toggle-main-2 {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.dropdown-toggle {
  color: #fff;
  flex: 1;
  align-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  font-size: 17px;
  display: flex;
}

.c-acco {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #fff;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: block;
}

.slider-container {
  width: 100%;
  padding: 40px;
  overflow: hidden;
}

.slider-container.youtube {
  border-radius: 0;
  min-height: auto;
  padding-bottom: 72px;
  padding-left: 0;
  padding-right: 0;
}

.slider-container.job_student {
  height: 515px;
  padding-top: 33px;
  padding-left: 0;
  padding-right: 0;
  display: none;
}

.slider-container.busines {
  height: 648px;
}

.slider-container.instagram {
  height: auto;
  padding-bottom: 130px;
}

.slider-right-arrow {
  color: #444;
  height: 25px;
  font-size: 20px;
  top: auto;
  bottom: -26%;
  left: auto;
  right: 0%;
}

.slider-right-arrow.youtube {
  bottom: -8.2%;
}

.slider-right-arrow.instagram, .slider-right-arrow.busines {
  bottom: -15.2%;
}

.slider-wrapper {
  justify-content: center;
  align-items: center;
  height: auto;
  display: flex;
  position: relative;
}

.slider-wrapper.youtube {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.slider-wrapper.job_student {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.slide-content-wrapper {
  grid-column-gap: 7px;
  grid-row-gap: 7px;
  background-color: rgba(225, 225, 225, 0);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.slide-content-wrapper.youtube {
  background-color: rgba(225, 225, 225, 0);
  width: 100%;
  height: auto;
}

.mask-2 {
  width: 285px;
  margin-left: 25px;
  position: static;
  overflow: visible;
}

.mask-2.youtube {
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: none;
  margin-left: 0;
}

.mask-2.presentation {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.slider-left-arrow {
  color: #444;
  height: 25px;
  font-size: 20px;
  top: auto;
  bottom: -15.2%;
  left: 0%;
  right: auto;
}

.slider-left-arrow.youtube {
  bottom: -8.2%;
}

.slider-2 {
  background-color: rgba(0, 0, 0, 0);
  width: 400px;
  position: static;
}

.slider-2.youtube {
  object-fit: contain;
  width: 100%;
}

.slider-2.job_slider {
  width: 100%;
}

.slider-2.presentation, .slider-2.instagram {
  height: auto;
}

.slide-3.youtube {
  object-fit: fill;
  width: 100%;
  height: auto;
}

.image-2 {
  object-fit: contain;
  width: auto;
  height: 500px;
}

.image-2.youtube {
  object-fit: contain;
  width: 100%;
  max-width: 100%;
  height: 254px;
}

.image-2.instagram {
  width: 285px;
}

.slide-nav-2 {
  width: 192px;
  font-size: 13px;
  top: auto;
  bottom: -17%;
  left: 0%;
  right: 0%;
}

.slide-nav-2.youtube {
  bottom: -12%;
}

.forwhom_content {
  grid-column-gap: 31px;
  grid-row-gap: 31px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
}

.item_forwhom {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: #fff;
  border: 2px solid #77c4f0;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 342px;
  padding: 27px 36px;
  display: flex;
}

.p_forwhom {
  text-align: center;
  font-family: Orchidea Pro, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 161%;
}

.forwhom_span {
  font-weight: 700;
}

.forwhom_span._1 {
  color: var(--rz);
}

.bonus {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.bonus_span {
  font-weight: 700;
}

.timer {
  color: #000;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 22px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Orchidea Pro, sans-serif;
  font-weight: 700;
  display: flex;
}

.salle {
  color: var(--black);
  text-align: left;
  font-size: 23px;
  font-weight: 700;
  display: block;
  position: absolute;
  bottom: auto;
  left: auto;
}

.salle.hero {
  font-size: 23px;
  position: static;
  top: -29px;
  bottom: auto;
  left: auto;
  right: 5px;
}

.strikethrough-p {
  color: var(--rz);
  font-size: 18px;
  font-weight: 500;
  text-decoration: line-through;
}

.bonuslist {
  flex: 0 auto;
  order: 0;
  width: 100%;
}

.autor-section {
  overflow: hidden;
}

.autorrectengl {
  z-index: 1;
  background-color: #fff;
  border: 1px #000;
  width: 530px;
  height: 66px;
  position: absolute;
  overflow: visible;
}

.autorrectengl.elioseautor {
  z-index: 2;
  background-color: var(--rz);
  border: 1px #000;
  border-radius: 50%;
  width: 66px;
  height: 66px;
  top: 29%;
  bottom: auto;
  left: 0%;
  right: auto;
  transform: translate(0, 20px)translate(379px);
}

.autorrectengl.blur {
  z-index: 3;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, .5);
}

.autorrectengl-wrap {
  width: auto;
  height: 66px;
  position: relative;
  overflow: visible;
  transform: translate(-58px)translate(0, 201px)rotate(26deg);
}

.autorcontent {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, .6);
  margin-top: 116px;
  padding: 25px;
  position: relative;
}

.bold-text {
  color: var(--rz);
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.paragraph {
  font-size: 14px;
}

.author_item {
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 25px;
  display: flex;
}

.image-3 {
  width: 35px;
  height: 35px;
}

.author_item_p {
  text-align: left;
  min-height: 22px;
  margin-top: 6px;
  margin-bottom: 0;
  display: block;
}

.author_item_wrap {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
  display: flex;
}

.image-author {
  width: 281px;
  height: 328px;
  display: block;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 18%;
  right: 0%;
}

.section_for_you {
  overflow: hidden;
}

.item_canva {
  z-index: 1;
  background-color: #fff;
  border: 2px solid #77c4f0;
  border-radius: 21px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 342px;
  min-height: 189px;
  padding: 27px 36px;
  display: flex;
  position: relative;
}

.item_canva.item_canva_another {
  background-color: var(--sn);
  border: 0 rgba(119, 196, 240, 0);
}

.item_canva_p_hero {
  text-align: center;
  font-family: Orchidea Pro, sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.h3_canva_item {
  text-align: center;
  font-family: Orchidea Pro, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: none;
}

.section-super-urok {
  overflow: hidden;
}

.canva_dv {
  z-index: 1;
  background-color: #fff;
  border-radius: 25px;
  width: 100%;
  height: 31px;
  position: absolute;
}

.canva_dv.canva_dv_blur {
  z-index: 3;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, .5);
}

.canva_dv.canva_dv_elipse {
  z-index: 2;
  background-color: var(--rz);
  border-radius: 50%;
  width: 55px;
  height: 55px;
  top: 34%;
  bottom: auto;
  left: 0%;
  right: auto;
  transform: translate(83px);
}

.canva_dv.canva_dv_elipse.mini {
  width: 25px;
  height: 25px;
  top: 87%;
  left: -7%;
}

.canva_dv.canva_dv_elipse._3 {
  transform: translate(124px);
}

.canva_dv_wrap {
  width: 100%;
  height: 40px;
  display: block;
  position: absolute;
  top: 6%;
  bottom: auto;
  left: -40%;
  right: auto;
  transform: rotate(64deg);
}

.canva_dv_wrap.twoo {
  top: 35%;
  bottom: auto;
  left: auto;
  right: -53%;
  transform: rotate(-64deg);
}

.canva_dv_wrap._3 {
  top: auto;
  bottom: 14%;
  left: -32%;
  right: auto;
  transform: rotate(53deg);
}

.h2_super_urok {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  margin-top: 0;
  margin-bottom: 50px;
  display: flex;
}

.heading-3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
}

.heading-3.super_urok_h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
}

.super_span {
  color: var(--rz);
  font-weight: 700;
}

.s_u_conten {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  padding-top: 35px;
  display: flex;
}

.s_u_conten.super_urok_slider {
  padding-top: 8px;
}

.paragraph-2 {
  text-align: center;
}

.section-program {
  overflow: hidden;
}

.program-wrap {
  flex-flow: column;
  width: 100%;
  display: flex;
  position: static;
}

.urok-discript {
  background-color: #fff;
  padding: 36px 25px 35px;
}

.p_urok_item {
  margin-bottom: 30px;
  font-family: Orchidea Pro, sans-serif;
  font-weight: 600;
}

.item_urok_diskr {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-5 {
  width: 20px;
  height: 20px;
  margin-top: 1px;
  margin-right: 5px;
}

.item_list_urok_p {
  margin-bottom: 0;
  font-family: Orchidea Pro, sans-serif;
  font-weight: 400;
}

.wrap_discr_list {
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  flex-flow: column;
  display: flex;
}

.dv_by_bonus {
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.p_bonus_descript {
  margin-top: 30px;
  font-size: 15px;
  font-weight: 500;
}

.section-qa {
  overflow: hidden;
}

.p_zoom_bold {
  font-weight: 700;
}

.paragraph-3 {
  margin-bottom: 26px;
}

.image-6 {
  object-fit: cover;
}

.section-time {
  overflow: hidden;
}

.image-7 {
  width: 60px;
  height: 60px;
}

.image-8 {
  width: 100%;
  height: auto;
}

.image_gallery {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.p_futer {
  color: #fff;
  text-align: center;
  line-height: 156%;
}

.link_futer {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 14px;
  display: flex;
}

.section-thanks {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

.paragraph-4 {
  font-family: Orchidea Pro, sans-serif;
  font-size: 70px;
  line-height: 150%;
  display: none;
  position: static;
}

.paragraph-5 {
  text-align: center;
  line-height: 150%;
}

.paragraph-5.email {
  margin-top: 43px;
}

.thk_span {
  color: var(--rz);
  font-weight: 700;
}

.drpdwn_content_instagram2 {
  clear: none;
  order: 0;
  align-self: auto;
  margin-top: 0;
  display: none;
}

.drpdwn_content_instagram2.newcontent {
  display: block;
}

.roz {
  color: var(--rz);
  font-weight: 700;
}

.link, .link-2 {
  color: var(--black);
}

.p_timer {
  font-size: 14px;
}

.c-a {
  background-color: #fff;
  margin-bottom: 10px;
}

.c-accordion-item-q-text {
  flex: 1;
  align-items: center;
  padding: 20px;
  display: block;
}

._w-accordion-item-q-icon {
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  position: relative;
}

.c-accordion-item-a {
  overflow: hidden;
}

._w-accordion-item-q {
  background-color: var(--white);
  display: flex;
}

._w-accordion-item-q.urok {
  background-color: var(--rz);
}

._w-accordion-item-q.urok.bonusurok {
  background-color: var(--sn);
}

.c-accordion-item-q-icon {
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: flex;
}

.accordion-item-q-icon-stripe-1 {
  background-color: #000;
  width: 100%;
  height: .1em;
  position: relative;
}

.accordion-item-q-icon-stripe-1.urok {
  background-color: #fff;
}

.c-accordion-item {
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 10px;
}

.cloneable-area {
  display: flex;
}

._w-accordion-item-a {
  background-color: #fff;
  padding: 20px 20px 30px;
}

._w-accordion-item-a.transprnt, ._w-accordion-item-a.instagram {
  background-color: rgba(255, 255, 255, 0);
  padding-bottom: 0;
}

.accordion-item-q-icon-stripe-2 {
  background-color: #000;
  width: .1em;
  height: 100%;
  position: absolute;
}

.accordion-item-q-icon-stripe-2.urok {
  background-color: var(--white);
}

.accordion-item-q-text {
  color: var(--black);
  letter-spacing: 1px;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
}

.accordion-item-q-text.day {
  color: var(--white);
  font-size: 12px;
  font-weight: 500;
}

.accordion-item-q-text.day.bonusurok {
  color: var(--black);
  -webkit-text-stroke-color: var(--white);
}

.accordion-item-q-text.bonnustitle {
  font-size: 14px;
  font-weight: 400;
}

.accordion-item-q-text.bonusurok {
  color: var(--black);
}

._w-accordion-item {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  transition: all .25s;
  box-shadow: 1px 1px 15px rgba(19, 19, 19, .15);
}

._w-accordion-item:hover {
  box-shadow: 1px 1px 15px 0 var(--rz);
  border: 1px #000;
  border-radius: 0;
}

.c-accordion-list {
  width: 100%;
}

._w-accordion-item-q-text {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  flex-flow: column;
  display: flex;
}

._w-accordion-item-q-text-bonus {
  font-size: 13px;
  font-weight: 700;
}

.bold-text-2 {
  color: var(--black);
}

.bold-text-2.urok {
  color: var(--white);
  font-size: 14px;
}

.bold-text-2.urok.bonusurokspan {
  color: var(--black);
}

.bonus_title {
  font-weight: 700;
}

.image-10 {
  width: auto;
  height: auto;
}

.dv_otziv {
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  background-color: var(--sn);
  border-radius: 30px;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 35px;
  display: flex;
}

.p_otziv {
  text-align: left;
  width: 100%;
  font-size: 14px;
}

.p_otziv.reyt {
  text-align: right;
}

.slider-5 {
  aspect-ratio: auto;
  background-color: rgba(221, 221, 221, 0);
  flex-flow: column;
  min-height: 300px;
  display: flex;
}

.right-arrow-2 {
  width: 35px;
  height: 35px;
  font-size: 22px;
  top: auto;
  left: auto;
}

.icon-4 {
  color: #000;
}

.left-arrow-2 {
  width: 35px;
  height: 35px;
  font-size: 22px;
  top: auto;
  right: auto;
}

.icon-5 {
  color: #000;
}

.slide-nav-4 {
  width: 200px;
  height: 35px;
}

.slide-6 {
  margin-right: 23px;
}

.image-12 {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.timerday {
  color: #000;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 150%;
  display: flex;
}

.timerday._60sec {
  font-family: Orchidea Pro, sans-serif;
  font-size: 70px;
}

.timer60sec {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 66px;
  font-family: Orchidea Pro, sans-serif;
  font-size: 70px;
  font-weight: 400;
  display: flex;
}

.timer60sec.time {
  font-family: Orchidea Pro, sans-serif;
  font-size: 70px;
  line-height: 150%;
}

.p_tim {
  font-size: 14px;
}

html.w-mod-js [data-ix="opacity-0-initial-appearance"] {
  opacity: 0;
}

@media screen and (max-width: 991px) {
  h1 {
    padding-left: 10px;
    font-size: 30px;
  }

  .privacy-section-yes {
    padding-top: 0;
    padding-bottom: 0;
  }

  .z-of-privacy {
    padding-left: 20px;
    padding-right: 20px;
  }

  .l.pri {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
  }

  .container.cn_slider {
    background-color: rgba(200, 88, 188, .8);
  }

  .slider-right-arrow {
    bottom: -15.2%;
  }

  .slider-right-arrow.youtube {
    bottom: -23.2%;
  }

  .slider-left-arrow {
    bottom: -15.2%;
  }

  .slider-left-arrow.youtube {
    bottom: -23.2%;
  }

  .slide-nav-2 {
    bottom: -72px;
  }

  .autorcontent {
    margin-top: 137px;
  }

  .image-author {
    display: block;
    top: -1%;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 20px;
  }

  .l.pri.w--current {
    display: inline-block;
  }

  .headerhero {
    margin-top: 25px;
  }

  .startdatep {
    color: var(--white);
    font-size: 15px;
    font-weight: 700;
  }

  .basicp {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 130%;
  }

  .heading {
    line-height: 130%;
  }

  .dvbutton.bonus {
    margin-top: 57px;
  }

  .autorrectengl-wrap {
    transform: translate(-56px)translate(0, 196px)rotate(26deg);
  }

  .autorcontent {
    margin-top: 133px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .image-author {
    display: block;
    top: -1%;
  }

  .image-8 {
    height: auto;
  }

  .image_gallery {
    justify-content: flex-start;
    align-items: stretch;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 13px;
    line-height: 20px;
  }

  a {
    float: none;
    width: auto;
    padding-left: 1px;
    padding-right: 1px;
    display: inline-block;
    position: static;
  }

  .box {
    opacity: 1;
  }

  .privacy-section-yes {
    overflow: hidden;
  }

  .z-of-privacy {
    padding-top: 20px;
  }

  .h2-privacy {
    font-size: 25px;
    line-height: 33px;
  }

  .center {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .container {
    margin-top: 0;
    position: relative;
  }

  .container.cn_slider {
    z-index: 0;
  }

  .container.forwhom {
    padding-top: 47px;
    padding-bottom: 0;
  }

  .container.superuroc_cont {
    padding-top: 60px;
  }

  .container.jobs-client {
    padding-bottom: 65px;
  }

  .container.cn_emotion {
    padding-top: 62px;
  }

  .container.cn_for_you {
    padding-top: 47px;
    padding-bottom: 0;
  }

  .headerhero {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
  }

  .startdatedv {
    z-index: 3;
    background-size: 95px 27px;
    justify-content: center;
    align-items: center;
    width: 99px;
    min-height: 23px;
    top: 2%;
    bottom: auto;
    left: auto;
    right: 0%;
  }

  .startdatep {
    z-index: 4;
    font-size: 14px;
    position: relative;
  }

  .herocontent {
    flex-flow: column;
    min-height: 413px;
    margin-bottom: 75px;
  }

  .herocontent_heading {
    flex-flow: column;
    position: static;
  }

  .basicp {
    font-size: 13px;
  }

  .basicp.bp_md {
    max-width: 186px;
  }

  .basicp.bonus_p {
    margin-bottom: 25px;
    font-size: 15px;
  }

  .heading {
    margin-top: 21px;
    padding-left: 0;
    font-size: 41px;
    line-height: 130%;
  }

  .image {
    bottom: -150%;
    left: 19px;
    right: -1%;
  }

  .image.too {
    z-index: 4;
    object-fit: fill;
    width: auto;
    height: 402px;
    top: auto;
    bottom: -52px;
    left: 27px;
    right: auto;
  }

  .hero3d {
    display: none;
    transform: translate(219px)rotate(-72deg);
  }

  .hero3d.blur {
    width: 560px;
    height: 72px;
    display: block;
    right: -115px;
    transform: translate(0, 106px)translate(147px)rotate(-72deg);
  }

  .elipsehero {
    display: block;
    right: -16%;
  }

  .mini3dhero, .mini3dhero.blur {
    top: auto;
    bottom: -21%;
    left: 0%;
    right: 0%;
  }

  .mini3dhero.minieliipse.forwhom_elipse {
    background-color: #77c4f0;
    width: 33px;
    height: 33px;
    transform: translate(-29px)translate(0, 142px);
  }

  .mini3dhero.down {
    z-index: 1;
  }

  .mini3dhero.forwhom_blur {
    transform: translate(0, -183px)translate(-142px)rotate(-115deg);
  }

  .dvbutton {
    margin-top: -29px;
    margin-bottom: 63px;
  }

  .dvbutton.bonus {
    height: auto;
    margin-top: 50px;
  }

  .dvbutton.bonus.programbonus {
    margin-top: 35px;
    margin-bottom: 0;
  }

  .slider_title {
    margin-bottom: 62px;
  }

  .slider_title.forwhom {
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .heading-2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 119%;
  }

  .heading-2.forwhom {
    z-index: 5;
    text-align: center;
    margin-bottom: 0;
    font-size: 20px;
    position: relative;
  }

  .heading-2.author {
    font-size: 30px;
  }

  .heading-2.job_h2 {
    margin-bottom: 60px;
  }

  .heading-2.h2_emotion {
    margin-bottom: 59px;
  }

  .drpdwn_content_instagram.sliderup {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    min-height: auto;
  }

  .dropdown-toggle-2, .dropdown-toggle {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 18px;
  }

  .slider-container.youtube {
    min-height: auto;
  }

  .slider-right-arrow {
    height: 25px;
    margin-right: 25px;
    font-size: 20px;
    top: auto;
    bottom: -9%;
    left: auto;
    right: -20%;
  }

  .slider-right-arrow.youtube {
    bottom: 0;
    right: 0;
  }

  .slider-right-arrow.instagram, .slider-right-arrow.busines {
    bottom: -9%;
  }

  .slider-wrapper {
    display: flex;
  }

  .mask-2 {
    object-fit: cover;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 27px;
  }

  .slider-left-arrow {
    height: 25px;
    margin-left: 25px;
    font-size: 20px;
    top: auto;
    bottom: -9%;
    left: -20%;
    right: auto;
  }

  .slider-left-arrow.youtube {
    bottom: 0%;
    left: 0%;
  }

  .slider-2 {
    width: 400px;
  }

  .slide-nav-2 {
    width: 146px;
    font-size: 13px;
    top: auto;
    bottom: -11%;
    left: 0%;
    right: 0%;
  }

  .slide-nav-2.youtube {
    bottom: -14px;
  }

  .item_forwhom {
    z-index: 2;
    justify-content: center;
    align-items: center;
    width: 272px;
    padding: 15px;
    display: flex;
    position: relative;
  }

  .p_forwhom {
    font-size: 15px;
  }

  .bonus {
    display: flex;
  }

  .timer {
    z-index: 2;
    width: 150px;
    height: 29px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
  }

  .salle {
    font-size: 17px;
    top: 2%;
    bottom: auto;
    left: auto;
    right: 1%;
  }

  .salle.bonussale {
    position: absolute;
    right: auto;
  }

  .autorrectengl {
    aspect-ratio: auto;
    width: 533px;
    height: 66px;
    padding-bottom: 0;
    padding-right: 0;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
  }

  .autorrectengl.elioseautor {
    background-color: var(--rz);
    border-radius: 50%;
    width: 66px;
    transform: translate(0, 20px)translate(318px);
  }

  .autorrectengl-wrap {
    transform: translate(-61px)translate(0, 223px)rotate(26deg);
  }

  .autorcontent {
    margin-top: 150px;
  }

  .paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
  }

  .author_item_wrap {
    margin-top: 23px;
  }

  .image-author {
    display: block;
    top: -4.5px;
    left: 13%;
  }

  .item_canva {
    z-index: 2;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 272px;
    padding: 15px;
    display: flex;
    position: relative;
  }

  .canva_dv.canva_dv_elipse.mini {
    top: 89%;
    left: -10%;
  }

  .canva_dv_wrap {
    top: -1%;
  }

  .canva_dv_wrap.twoo {
    top: 27%;
  }

  .canva_dv_wrap._3 {
    bottom: 16%;
    left: -40%;
  }

  .dv_by_bonus {
    flex-flow: column;
    display: flex;
  }

  .p_bonus_descript {
    margin-top: 30px;
  }

  .image_gallery {
    justify-content: center;
    align-items: stretch;
  }

  .dv_emotion_wrap {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    flex-flow: column;
    display: block;
  }

  .p_timer {
    margin-top: 5px;
    font-size: 13px;
    font-weight: 300;
  }

  .accordion-item-q-text {
    font-size: 1.1em;
    line-height: 1.3em;
  }

  .p_tim {
    margin-top: 5px;
    font-size: 13px;
    font-weight: 300;
  }
}

#w-node-f0ce7c9e-d33d-0f0b-8980-e8a39394f64c-567d6350 {
  justify-self: center;
}


@font-face {
  font-family: 'Orchidea Pro';
  src: url('../fonts/OrchideaPro-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Orchidea Pro';
  src: url('../fonts/OrchideaPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Orchidea Pro';
  src: url('../fonts/OrchideaPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Orchidea Pro';
  src: url('../fonts/OrchideaPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Orchidea Pro';
  src: url('../fonts/OrchideaPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Orchidea Pro';
  src: url('../fonts/OrchideaPro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Orchidea Pro';
  src: url('../fonts/OrchideaPro-ExtraBold.ttf') format('truetype'), url('../fonts/OrchideaPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Orchidea Pro';
  src: url('../fonts/OrchideaPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nada';
  src: url('../fonts/Nada.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tan Mon Cheri';
  src: url('../fonts/tan-mon-cheri-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}