.course-program {
  background-color: #f4f5f8;
  padding: 160px 0 100px;
  overflow: hidden;
  margin-top: -90px;

  &__title {
    @extend .services__title;
    color: $primary-color;
    margin-bottom: 39px;
  }

  &__button {
    margin-top: 45px;
  }

  .width-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dropdown-outer {
    width: 100%;
    max-width: 790px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .dropdown {
    position: relative;
    width: 100%;
  }

  .dropdown-mobile-img {
    display: none;
  }

  .dropdown-header {
    position: relative;
    background-image: url("../images/svg/course-lesson-rectangle.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 27px 55px 20px 31px;
  }

  .dropdown-header-content {
    width: 92%;
    max-width: 730px;
    display: flex;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: $dark-color;
  }

  .lesson-number {
    color: $secondary-color;
    margin-right: 10px;
  }

  .icon {
    position: absolute;
    transform: translateY(-50%);
    right: 3.7%;
    top: 30%;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 50%;
    transition: background-color 0.3s ease;

    &.open {
      background-color: $secondary-color;
    }

    img {
      width: 14px;
      height: auto;
    }

    .icon-minus {
      display: none;
    }

    &.open {
      .icon-plus {
        display: none;
      }

      .icon-minus {
        display: block;
      }
    }
  }

  .dropdown-content {
    position: relative;
    top: calc(-22px - max(7px, min(6px, (700px - 100vw) * 0.02)));
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, box-shadow 0.3s ease-out;
    background-color: white;
    width: 93%;
    max-width: 730px;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    box-shadow: 30px 20px 20px -15px rgba(8, 49, 85, 0.05),
      -30px 20px 20px -15px rgba(8, 49, 85, 0.05),
      0 2px 1px -2px rgba(8, 49, 85, 0.008);
    cursor: pointer;

    &.open {
      max-height: 1000px;
      transition: max-height 0.5s ease-in, box-shadow 0.5s ease-in;
    }

    h3 {
      font-family: "Gilroy-Medium", sans-serif;
      font-size: 25px;
      font-weight: 700;
      line-height: 17px;
      text-align: left;
      color: $black;
      margin-bottom: 24px;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        font-family: "Gilroy-Regular", sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 25px;
        color: $black;
        margin-bottom: 10px;

        .label {
          font-family: "Gilroy-Bold", sans-serif;
          font-size: 17px;
          font-weight: 700;
          line-height: 25px;
          color: $black;
        }
      }
    }
  }

  .dropdown-item {
    padding: 19px 34px 14px 31px;
  }
}

@media (max-width: 848px) {
  .course-program {
    .dropdown-content {
      width: 92.33%;
    }
  }
}

@media (max-width: 750px) {
  .course-program {
    background: linear-gradient(to bottom, #f4f5f8, #ffffff);
    .icon {
      right: calc(2.9% + max(0%, min(0.1%, (700px - 100vw) * 0.00071)));
      top: calc(30% + max(0%, min(7%, (700px - 100vw) * 0.05)));
      width: calc(34px - max(0px, min(12px, (700px - 100vw) * 0.0857)));
      height: calc(34px - max(0px, min(12px, (700px - 100vw) * 0.0857)));
    }

    .dropdown-header-content {
      font-size: 20px;
    }

    .dropdown-content {
      width: 92.33%;

      h3 {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 590px) {
  .course-program {
    padding: 32px 0 94px;

    &__title {
      margin-bottom: 34px;
    }

    &__button {
      margin-top: 30px;
      width: 289px;
    }

    .dropdown {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 350px;
      position: relative;
    }

    #icon-3 {
      top: 37%;
    }

    .dropdown-header {
      background-image: unset;
      width: 100%;
      height: auto;
      padding: 15px 45px 16px 25px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }

    .dropdown-mobile-img {
      display: flex;
      width: 100%;
    }

    .dropdown-header-content {
      font-size: 17px;
      width: 100%;
      max-width: none;
    }

    .lesson-container {
      position: relative;
      display: inline;
      line-height: 1.4;
      left: 0;
      bottom: 0;
    }

    .lesson-number {
      color: #c858bc;
      margin-right: 5px;
      position: static;
    }

    .icon {
      position: absolute;
      top: 25%;
      right: 4px;
      transform: translateY(-50%);
      width: 34px;
      height: 34px;
    }

    .dropdown-content {
      top: calc(-10px - max(11px, min(6px, (700px - 100vw) * 0.02)));
      width: calc(100% - 8px);

      h3 {
        font-size: 18px;
        margin-bottom: 15px;
      }

      ul {
        li {
          font-size: 15px;
          line-height: 17px;
          font-weight: 400;
          margin-bottom: 14.24px;

          .label {
            font-size: 15px;
            line-height: 17px;
          }
        }
      }

      &.open {
        max-height: 1000px;
        transition: max-height 0.5s ease-in, box-shadow 0.5s ease-in;
      }
    }

    .dropdown-item {
      padding: 24px 13px 16px 20px;
    }
  }
}
