@import "variables";

.footer {
  background-color: #e07fc1;
  padding: 50px 0;
  color: #fff;
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
  position: relative;

  .width-container {
    padding: 0 40px;
  }
  &__icon {
    display: none;
  }
  &__content {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 47px;

    img {
      max-width: 100px;
    }
  }

  &__info {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
  }

  &__copyright {
    flex: 2;
    max-width: none;
    text-align: left;
    @include default-label-text;
    line-height: 1.8;
    color: #fff;
  }

  &__company-info,
  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    @include default-label-text;
    line-height: 1.8;
    color: #fff;
  }
  &__company-info-text {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 1px;
      height: 1.5px;
      background-color: #fff;
    }
  }
  &__company-info {
    text-align: center;
    p {
      margin: 0;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    a {
      color: #fff;
      text-decoration: none;
      margin-bottom: 6px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1px;
        height: 1.5px;
        background-color: #fff;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 1126px) {
  .footer {
    &__copyright,
    &__company-info,
    &__links {
      font-size: 14px;
    }
  }
}

@media (max-width: 975px) {
  .footer {
    &__copyright {
      text-align: center;
    }
    &__info {
      align-items: center;
    }
  }
}

@media (max-width: 889px) {
  .footer {
    padding: 29px 0;
    &__content {
      flex-direction: column;
    }
    &__logo {
      margin: 0px 0px 23px 0px;
    }
    &__info {
      gap: 9px;
    }
    &__company-info,
    &__links,
    &__copyright {
      line-height: 1.4;
    }
  }
}

@media (max-width: 717px) {
  .footer {
    &__icon {
      width: 46px;
      display: inline-block;
      position: absolute;
      bottom: 312px;
      right: 25px;
    }
    &__copyright {
      max-width: 350px;
    }
    &__info {
      flex-direction: column;
    }
  }
}
