.services {
    background-image: url(../images/services/services-bg.png);
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
  &__content {
    padding-top: 85px;
  }
  &__title {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    font-weight: 700;
    color: $text-title;
    font-size: 60px;
    span {
      color: $secondary-color;
    }
  }
  &__cube {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    gap: 23px;
  }
  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 83px;
  }
  &__cube__text {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
  &__cube__text-bold {
    font-size: 25px;
    font-weight: 700;
    span {
      color: $text-color;
    }
  }
  &__cube__text-light {
    font-size: 20px;
    font-weight: 300;
    span {
      font-weight: 700;
      color: $black;
    }
  }
}
