.services {
    background-image: url(../images/services-bg.png);
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  
  &__title {
    font-size: 6;
  }
}
