.services {
    background-image: url(../images/services/services-bg.png);
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
  &__content {
    padding-top: 85px;
  }
  &__title {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    font-weight: 700;
    color: $text-title;
    font-size: 60px;
    span {
      color: $secondary-color;
    }
  }
}
