.skills {
  padding: 86px 0px 100px;
  &__title {
    font-size: 60px;
    text-align: center;
    color: $text-title;
    font-weight: 700;
  }
  &__info {
    background-image: url("../images/skills/skills-block-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 125px;
    padding-top: 27px;
    width: 580px;
    height: 300px;
    position: relative;
  }
  &__info__img-icon {
    position: absolute;
    top: 15px;
    left: 11px;
  }
}
